body {
  font-size: 16px;
  color: #fff;
  background-color: #822021;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/

#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
  width:100%;
}
.navbar-brand {
  padding-top: 25px;
  height: 85px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Metal Mania', cursive;
  color:#34607b;
  text-shadow:  0 0 3px #FF0000;
  margin-top:0;
  margin-bottom:10px;
  line-height: .75;
  font-size: 3.8em;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand h1:hover , .navbar-brand h1:focus{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  background: #99FF99;
  border:1px solid black;
  border-radius: 10px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
#chicken-tile, #beef-tile, #sushi-tile {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: #b5d668;
  
}
#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#home-tiles a:hover {
  text-decoration:none;
}
#chicken-tile{
  
  background-position: center;
}
#specials-tile {
  
  background-position: center;
}
#chicken-tile span, #beef-tile span, #sushi-tile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .7;
  
}
.none{
  position: relative;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
  
}

/* END HOME PAGE */


/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

  /* Home Page */
 
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 8vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */


  /* Home Page */
 
  #chicken-tile, #beef-tile,#sushi-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #chicken-tile, #beef-tile,#sushi-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

}



